/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 14px;
    color: #555;
}

form input[type="tel"],
form input[type="text"],
form input[type="time"],
form input[type="date"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Botão */
form button {
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

form button:hover {
    background-color: #2980b9;
}


.btn-voltar {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-voltar:hover {
    background-color: #2980b9;
}


/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }
    
    h1 {
        font-size: 20px;
    }
}
